:root {
  /* Background Colours */
  --bg-hue: 0;
  --bg-saturation: 0%;
  --bg-lightness: 100%;
  --bg-alpha: 0;

  /* Foreground Colours */
  --fg-hue: 0;
  --fg-saturation: 0%;
  --fg-lightness: 0%;
  --fg-alpha: 1;

  /* Spacing */
  --none: 0;
  --fine: 1px;
  --tiny: 0.3rem;
  --small: 0.6rem;
  --medium: 1rem;
  --large: 1.5rem;
  --x-large: 3rem;
  --xx-large: 6rem;

}

@page {
  size: A4;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(html, script, head) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(var(--bg-hue), var(--bg-saturation), var(--bg-lightness), var(--bg-alpha));
  color: hsla(var(--fg-hue), var(--fg-saturation), var(--fg-lightness), var(--fg-alpha));
}

html,
body {
  background: grey;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}