.outer-box {
    border-style: double;
    border-color: black;
    border-width: 1;
    width: 5rem;
}

.label {
    text-transform: uppercase;
    font-size: x-small;
}

.modifier {
    font-size: xx-large;
}