.outer-box {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.value {
    border-right: var(--border);
    text-transform: uppercase;
    font-size: small;
    padding: var(--tiny);
    justify-content: center;
}

.modifier {
    border-bottom: var(--border);
    border-right: var(--border);
    font-size: xx-large;
    align-self: stretch;
    padding: var(--small);
    justify-content: center;
    width: 5rem;
}