.grid {
    display: grid;
    width: 100%;
    gap: var(--tiny);
    grid-template-columns: 24ch 24ch 1fr 24ch;
    align-items: stretch;
}

.item {
    display: grid;
    grid-template-areas: "label type"
        "description description"
        "charges frequency";
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    align-items: stretch;
    justify-content: space-between;
    align-content: baseline;
    gap: var(--fine);
    --bg-lightness: 90%;
    --bg-alpha: 1;
    border-radius: 0.3rem;
    padding: var(--tiny);
}

.label {
    grid-area: label;
    font-weight: 700;
    font-size: smaller;
}

.description {
    grid-area: description;
    font-size: smaller;
    text-wrap: pretty;
    white-space: pre-wrap;
    align-items: baseline;
}

.charges {
    grid-area: charges;
    justify-content: start;
}

.frequency {
    grid-area: frequency;
    font-size: smaller;
    justify-content: flex-end;
}

.type {
    --fg-lightness: 50%;
    grid-area: type;
    font-weight: 800;
    justify-content: flex-end;
    font-size: xx-small;
    text-transform: uppercase;
}